ログインに成功しました。

イベント一覧

<%= link_to "新規登録" %>

<table>
  <tr>
    <td>
       <p>イベント名</p>
    <td>
    <td>
      <p>開催日時</p>
    </td>
    <td>
    </td>
  </tr>

  <tr>
    <td>
       <p>ほげふが </p>
    <td>
    <td>
      <p>2012/3/14 </p>
    </td>
    <td>
    </td>

  <tr>
    <td>
       <p>部門間飲み会 </p>
    <td>
    <td>
      <p>2012/2/17</p>
    </td>
    <td>
      <%= link_to "編 集 " %> 
    </td>
  <tr>
    <td>
       <p>焼き肉パーティー </p>
    <td>
    <td>
      <p>2012/1/27</p>
    </td>
    <td>
  </td>

</table>

